# System files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Node modules
node_modules/

# Build output
dist/
build/

# Firebase
.firebase/

# Ignore Firebase backend code inside Project MyFi
# Project MyFi/functions/

# VS Code
.vscode/
*.code-workspace

# OS junk
*.swp
*.swo

# Env
.env
.env.*