/* General Body Styling */
/* Apply border-box globally */
/* === Base Reset === */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    /* Ensure the body and html elements take up the full viewport */
  html, body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    
    color: #000;
    background: #fff;
      
  }

  /* Optional: Prevent double scrollbars */
  body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }












  
 






