/* May be renamed to components if more appropriate */

/* Buttons */
.button {
  padding: 0.4rem 0.8rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.button:hover {
  background: #0056b3;
}