/* Variables for global use */
:root {
  --primary-color: #6200ea;
  --secondary-color: #03dac6;
  --font-size-base: 1rem;
  --primary-text-color: #fff;

  --header-background-colour: #262626; 

  --panel-background-colour: #262626;
  --panel-box-shadow: 0 0 8px #6200ea;

  --sub-panel-background-colour: #262626;
  --sub-panel-box-shadow:0 0 10px 2px #a855f7;

  --button-background-colour:#6200ea;

  --profile-size: clamp(2.5rem, 5vw, 7.5rem);
  --avatar-size: clamp(2.5rem, 5vw, 7.5rem);

  --spacing-unit: 8px
}

/* Header */
.hdr {
  background-color: #121212;
  color: white;
  font-size: 1.2rem;
}

.panel{
  background: var(--panel-background-colour);
  color: var(--primary-text-color);
  box-shadow: var(--panel-box-shadow);
}

.sub-panel{
  background: var(--sub-panel-background-colour);
  box-shadow: var(--sub-panel-box-shadow);
}

.section {
  background-color: #1e1e2f; /* dark background */
  border: 2px solid #a855f7; /* purple border */
  box-shadow: 0 0 8px 2px #a855f7; /* glowing effect */

}

.sub-section{

  border: 0.25px dotted #766983; /* purple border */

}

.dot {
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #aaa;
  
}